:root {
    --main-bg-color: #0d1014;
    --aside-len: 20.5vw;
    --aside-bg: #232a35;
    --arrow-width: 45px;
}

* {
    color: white;
    font-family: Arial, Helvetica;
    font-weight: normal;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; width: 100%;
    background-color: var(--main-bg-color);
}

#popular-cats-a {
    margin: 0;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--aside-len);
    background-color: var(--aside-bg);
    overflow-x: hidden;
    transition: transform 0.3s;
}

#popular-cats-h {
    margin: 12px;
    font-weight: 100;
    font-size: 2.2vw;
    text-align: left;
}

#popular-cats-l {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    list-style-type: none;
}

#popular-cats-l .cat {
    padding: 12px;
    font-size: 1.6vw;
    display: block;
    transition: background 0.2s;
}

#popular-cats-l .cat:hover {
    background-color: #2e8b57;
    cursor: pointer;
}

#popular-cats-l a {
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    :root {
        --aside-len: 100vw;
    }
    #popular-cats-l .cat {
        font-size: 11pt;
    }
    #popular-cats-h {
        font-size: 13pt;
    }
}

.aside-btn {
    width: var(--arrow-width);
    margin-top: auto;
    margin-bottom: calc(var(--arrow-width) / 3);
    border: 0;
    display: flex;
}

#close-aside {
    background-color: var(--aside-bg);
}

#open-aside {
    position: fixed;
    left: -100%;
    bottom: calc(var(--arrow-width) / 3 - 15px);
    background-color: var(--main-bg-color);
    transition: left 0.4s;
}

.aside-btn img {
    width: calc(var(--arrow-width) - 12px);
}

.aside-btn img:hover {
    cursor: pointer;
}

#close-aside img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.closed {
    transform: translateX(-100%);
}

.oa-active {
    left: 2px!important;
}

#cont {
    margin-left: var(--aside-len);
}
