@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --main-color: #479366;
    --main-bg-color: #0a0f0d;
    --aside-bg: #18241e;
    --aside-len: 16vw;
    --arrow-width: 55px;
}

* {
    color: white;
    font-family: 'Lato', Helvetica;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; width: 100%;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

body {
    padding: 15px;
}

#logo {
    width: 30%;
    margin-top: auto;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: auto;
}

@media screen and (min-width: 1250px) and (max-width: 2000px) {
}

@media screen and (min-width: 771px) and (max-width: 1000px) {
}
