* {
    color: white;
    font-family: Arial, Helvetica;
    font-weight: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

#popular-cats-a {
    margin: 0;
    float: left;
    padding: 10px;
    background-color: #232a35;
}

#popular-cats-h {
    margin: 0;
    font-weight: 100;
}

#popular-cats-l {
    margin: 0;
    display: block;
    padding: 5px;
    list-style-type: none;
}

#popular-cats-l a {
    text-decoration: none;
}