main {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 64px;
}

.post {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.post header h1 {
    margin-bottom: 20px;
}

.post img {
    max-width: 400px;
    max-height: 400px;
    margin-right: 20px;
    border-radius: 5px;
    float: left;
}

.post p {
    margin: 0; margin-top: 10px;
    max-width: 100ch;
}
