<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
    type="image/ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    {% block styles %}{% endblock styles %}
    
    <title>Spiderbook{{ title }}</title>
</head>
<body>
    <!-- Aside to display the most popular categories -->
    <aside id="popular-cats-a">
        <!-- Header -->
        <h2 id="popular-cats-h">Popular categories</h2>
        <!-- List of links that highlight when hovered over -->
        <ul id="popular-cats-l">
            {% for cat in popular %}
                <li><a href="{{ url_for('catpost', category=cat) }}" class="cat"
                ontouchstart="clickpc(this, 1);" ontouchend="clickpc(this, 0);">{{ cat }}</a></li>
            {% endfor %}
        </ul>
        <!-- Website's logo and closing button -->
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="LOGO">
        <button id="close-aside" class="aside-btn" onclick="ctrl_aside(1);">
            <img src="{{ url_for('static', filename='icons/arrow.png') }}" alt="CLOSE">
        </button>
    </aside>
    <button id="open-aside" class="aside-btn" onclick="ctrl_aside(0);">
        <img src="{{ url_for('static', filename='icons/arrow.png') }}" alt="OPEN">
    </button>
    <div id="cont">
    {% block category %}
    {% endblock category %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
</body>

<script src="{{ url_for('static', filename='js/default.js') }}" ></script>

</html>