<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h2 id="popular-cats-h">Popular categories</h2>
        <ul id="popular-cats-l">
            {% for cat in popular %}
                <li class="pc"><a href="{{ url_for('catpost', category=cat) }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </header>
    {% block category %}
    {% endblock category %}
    {% block content %}
    {% endblock content %}
</body>
</html>