{% extends "default.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock styles %}

{% block page_header %}
    <nav id="page-nav">
        {% if pagen > 1 %}
            <li><a href="">{{ pagen-1 }}</a></li>
        {% endif %}
        <li>{{ pagen }}</li>
        <li><a href="">{{ pagen+1 }}</a></li>
        {% if pagen == 1 %}
            <li><a href="">{{ pagen+2 }}</a></li>
        {% endif %}
    </nav>

    <button onclick="open_postcreator();">NEW THREAD</button>
    <form action="{{ url_for('create_post') }}"  method="post" class="post-creator"
    enctype="multipart/form-data">
        <div class="post-creator-container">
            <input class="prevpage" type="hidden" name="previouspage" value=False>
            <input type="text" name="author" placeholder="Author"><input type="text" name="category"
            placeholder="Category">
            <div class="linebreak"></div>
            <input type="text" name="title" placeholder="Title" style="width: 85ch">
            <div class="linebreak"></div>
            <textarea name="body" style="min-width: 90%; min-height: 400px" placeholder="Body"></textarea><br>
            <div class="linebreak"></div>
            <label class="filein-btn" for="filein-id">Choose a file</label>
            <input type="file" name="imgbin" class="filein" id="filein-id">
            <div class="linebreak"></div>
            <div class="linebreak"></div>
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
{% endblock page_header %}

{% block content %}
<main>
    {% for p in posts %}
        <article class="post">
            {% if p['imgbin'] %}
                <header>
                    <h1><a href="{{ url_for('indpost', pid=p['pid']) }}">
                        {{ p['title'] }}
                    </a></h1>
                    <small>
                        {{ p['category'] }}
                    </small>
                </header>
                <section class="post-content">
                    {% if p['imgbin'] %}
                    <a href="{{ url_for('indpost', pid=p['pid']) }}">
                        <img src="data:image/{{ p['imgext'] }};base64,{{ p['imgbin'] }}">
                    </a>
                    {% endif %}
                </section>
            {% else %}
                <section class="noimg-post">
                    <h1><a href="{{ url_for('indpost', pid=p['pid']) }}">
                        {{ p['title'] }}
                    </a></h1>
                    <small>
                        {{ p['category'] }}
                    </small>
                </section>
            {% endif %}
        </article>
    {% endfor %}
</main>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}" ></script>
{% endblock scripts %}
