{% extends "default.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock styles %}

{% block page_header %}
    <!-- Category header. Really big. -->
    <div id="page-header">
        <h1>{{ category }}</h1>
        <small>Page {{ page }}</small>
    </div>
{% endblock page_header %}

{% block content %}
{% for p in posts %}
    <article class="post">
        <header>
            <h1>{{ p['title'] }}</h1>
        </header>
        <div class="post-content">
            <img src="{{ url_for('static', filename='images/'+p[98765]) }}" alt="">
            {% if p['body'] %}
                <p class="post-body">{{ p['body'] }}</p>
            {% endif %}
        </div>
    </article>
{% endfor %}
{% endblock content %}
