{% extends "default.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/indpost.css') }}">
{% endblock styles %}

{% block page_header %}
{% endblock page_header %}

{% block content %}
    <main>
        <article class="op-post">
            <h2>{{ title }}</h2>
            <small id="author-name">{{ author }}</small>
            {% if imgbin %}
                <img id="post-image" src="{{ url_for('getimage', postid=pid) }}">
            {% endif %}
            {% if body %}
                <div id="post-body">{{ body }}</div>
            {% endif %}
        </article>
    </main>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/indpost.js') }}" ></script>
{% endblock scripts %}

